<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Series App</title>
            <!-- Bootstrap core CSS -->
        <link href="@routes.Assets.at("css/bootstrap.css")" rel="stylesheet">
            <!--external css-->
        <link href="@routes.Assets.at("font-awesome/css/font-awesome.css")" rel="stylesheet" />
        <link href="@routes.Assets.at("lineicons/style.css")" rel="stylesheet" type="text/css" >
            <!-- Custom styles for this template -->
        <link href="@routes.Assets.at("css/style.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/style-responsive.css")" rel="stylesheet">
    </head>
    <body>
        <section id="container" >
           <header class="header black-bg">
                <!-- TODO colocar imagenzinha de filme -->
                <a class="logo"><b>Séries App</b></a>
            </header>

            <aside>
                <div id="sidebar"  class="nav-collapse ">
                    <ul class="sidebar-menu" id="nav-accordion">
                        <li class="mt">
                            <a class="active">
                                <i class="fa fa-th-list"></i>
                                <span>Lista de Séries</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>

            <section id="main-content">
                <section class="wrapper">
                    <div class="row">
                        <div class="col-lg-9 main-chart">
                            <h5>
                                Séries App é a melhor forma de se manter o registro de todas as séries
                                que você assiste ou já assistiu.
                            </h5>
                        </div>

                        <div class="col-lg-3 ds">
                            <h3>Lista de Séries</h3>

                        </div>
                    </div>
                </section>
            </section>
            <footer class="site-footer">
                <div class="text-center">
                    2014 - Séries App
                    <a href="" class="go-top">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </footer>
        </section>
    </body>
</html>